.idea
libexec
logs
project/project
target
conf/*.local.conf
conf/production.conf
conf/development.conf
conf/preprod.conf
conf/prod-logback.xml

# sonarlint
.idea/sonarlint

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
